// app global css in SCSS form
@font-face {
    font-family: "Metal Mania";
    src:         url("../assets/fonts/MetalMania-Regular.ttf");
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: "Actor";
    src:         url("../assets/fonts/Actor-Regular.ttf");
    font-weight: 400;
    font-style:  normal;
}

.layout-container {
    display:        flex;
    flex-direction: row;
}

.layout-container > .row {
    background-color: rgba(black, 0.2);
    margin:           35px 0;
    padding:          0 35px;
}

.burger-menu {
    background-color: black;
    min-height:       100vh;
}

.burger-menu > .row {
    padding: 35px;
}

.layoutLogo {
    font-family: 'Metal Mania', serif;
    font-size:   36px;
    width:       max-content;
    color:       #D9C279;
    cursor:      pointer;
}

.layoutLogo p {
    cursor: pointer;
    width:  max-content;
}

.layoutTabs {
    color:            #D9C279;
    border:           1px solid #D9C279;
    font-size:        16px;
    background-color: rgba(#1D1D1D, 0.6);
    font-family:      'Actor', serif;
}

.layoutTabs-active {
    box-shadow: 0.3em 0 .4em #D9C279;
}

.video-container {
    display:         flex;
    justify-content: center;
    height:          24vw;
    width: 100%;
}

.main-layout {
    background-image:      url("src/assets/img/MainBackground.jpg");
    background-size:       100vw 100vh;
    transition:            600ms;
    background-attachment: fixed;
    display:               flex;
    flex-direction:        column;
}

footer {
    font-family:   'Actor', serif;
    color:         white;
    font-size:     12px;
    line-height:   14.44px;
    padding-right: 60px;
    z-index:       1000;
}

.underline {
    text-decoration: underline;
}

.q-tab > .q-tab__indicator {
    display: none
}

.z-min {
    z-index: -1;
}

.footer {
    background-color: rgba(black, 0.75);
}

.flex1 {
    flex: 1;
}

.bg-black-semi {
    background-color: rgba(black, 0.75);
}


.filmTabsContainer {
    margin: 0 30px;
}

.filmTabs {
    max-height: 200px;

    &.active {
        box-shadow: 0.1px 0.1px 1px 1px #D9C279;
    }
}

.filmTabs:hover {
    box-shadow: 0.1px 0.1px 1px 1px #D9C279;
}

.filmTabs .q-tab__label {
    font-family:    'Actor', serif;
    color:          #D9C279;
    font-size:      16px;
    max-width:      200px;
    white-space:    pre-wrap;
    text-transform: none;
    line-height:    19.25px;
    max-height:     38px;
}

.filmLogo {
    min-width: 200px;
    width:     100%;
}

.info-container {
    display: block;
    height:  calc(100% - 150px);
}

.info-container.else {
    display:       block;
    margin-bottom: 200px;
}

.info-content {
    font-family:    Actor, serif;
    font-size:      22px;
    color:          white;
    line-height:    26.47px;
    margin-left:    35px;
    padding-right:  60px;
    padding-top:    10px;
    letter-spacing: 1px;
    height:         inherit;
}

.photo-container {
    justify-content: right;
    display:         grid;
    align-content:   center;
    padding-right:   60px;
}

.info-actor {
    font-family:   Actor, serif;
    font-size:     16px;
    color:         white;
    line-height:   19.25px;
    margin:        35px;
    padding-right: 60px;
}

.info-film-tab {
    border:    1px solid white;
    max-width: 257px;
    margin:    20px 60px;

    &.active {
        border: 1px solid #D9C279;
    }
}

.info-film-tab, .info-film-tab .q-tab__label {
    text-align:     center;
    line-height:    21.65px;
    font-size:      18px;
    font-family:    Actor, serif;
    color:          white;
    padding:        0 20px;
    text-transform: none;
    white-space:    pre-wrap;
}

.info-film-tab, .info-film-tab.active .q-tab__label {
    color:       #D9C279;
    text-shadow: #D9C279;
}

.header {
    font-family:    Actor, serif;
    font-size:      22px;
    color:          white;
    line-height:    26.47px;
    padding-right:  60px;
    letter-spacing: 1px;
}

.next-film {
    font-family: Actor, serif;
    font-size:   18px;
    color:       white;
    line-height: 21.65px;
    margin:      31px 0;
}

.info-table {
    font-family:    Actor, serif;
    font-size:      18px;
    line-height:    21.65px;
    color:          white;
    padding-right:  60px;
    letter-spacing: 1px;
}

.info-table .row {
    margin: 20px 0;
}

.back-button-container {
    display:         flex;
    justify-content: right;
    //position:        relative;
    bottom:          30px;
}

.back-button {
    cursor:       pointer;
    font-family:  Actor, serif;
    font-size:    18px;
    line-height:  21.65px;
    color:        #D9C279;
    margin-right: 60px;
}

.h-inherit {
    height: inherit;
}

.burger-container {
    display: none;
}

.burger {
    display: none;
}

.empty-row {
    height: 35px;
}

.arrow-back {
    color:       #D9C279;
    margin-left: min(3.7vw, 30px);
    font-size:   30px;
    width:       10%;
    cursor:      pointer;
}

.low-logo {
    margin: 0 !important;
}

.container {
    display:         flex;
    justify-content: center;
    width:           80%;
}

.grid {
    display:               grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr))
}

.filmCard {
    margin:         16px 0;
    height:         223px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    cursor:         pointer;
}

.filmCard:hover {
    border: 1px solid #D9C279;
}

.filmCardLogo {
    width:  110px;
    height: 170px;
}

.film-label {
    font-family:    'Actor', serif;
    color:          #D9C279;
    font-size:      16px;
    max-width:      200px;
    white-space:    pre-wrap;
    text-transform: none;
    line-height:    19.25px;
    max-height:     38px;
    text-align:     center;
}

.mob-film-name {
    font-family:    'Actor', serif;
    color:          #D9C279;
    font-size:      22px;
    white-space:    pre-wrap;
    text-transform: none;
    line-height:    26.47px;
    max-height:     38px;
    text-align:     center;
    padding:        10px 0 100px 0;
}

#layout {
    background-size: 100% 180px;
}

.back-main {
    width:       100%;
    font-family: 'Actor', serif;
    color:       #D9C279;
    font-size:   16px;
    line-height: 19.25px;
    margin-top:  31px;
    text-align:  center;
    cursor:      pointer;
}


@media (min-width: 820px) {
    #main-layout.bg-Main {
        background-image: url("src/assets/img/MainBackground.jpg");
    }

    #main-layout.bg-HP1 {
        background-image: url("src/assets/img/HP1.jpg");
    }

    #main-layout.bg-HP2 {
        background-image: url("src/assets/img/HP2.jpg");
    }

    #main-layout.bg-HP3 {
        background-image: url("src/assets/img/HP3.jpg");
    }

    #main-layout.bg-HP4 {
        background-image: url("src/assets/img/HP4.jpg");
    }

    #main-layout.bg-HP5 {
        background-image: url("src/assets/img/HP5.jpg");
    }

    #main-layout.bg-HP6 {
        background-image: url("src/assets/img/HP6.jpg");
    }

    #main-layout.bg-HP7Part1 {
        background-image: url("src/assets/img/HP7Part1.jpg");
    }

    #main-layout.bg-HP7Part2 {
        background-image: url("src/assets/img/HP7Part2.jpg");
    }
}

@media (max-width: 1200px) {
    .info-film-tab .q-tab__label {
        font-size:   14px;
        line-height: 17px
    }
}

@media (max-width: 1050px) {
    .info-film-tab .q-tab__label {
        font-size:   11px;
        line-height: 13px;
        padding:     0;
    }
}

@media (max-width: 820px) {
    .page-container {
        display: block !important;
    }

    .burger-container {
        display:         flex;
        justify-content: right;
    }

    .burger {
        display:   block;
        color:     #D9C279;
        font-size: 36px;
        cursor:    pointer;
    }
;

    .pageSwapper {
        display: none;
    }

    footer, .header, .info-table {
        padding-right: 0;
    }

    .main-layout {
        background-color: black;
        background-image: none;
    }

    .q-page-container {
        width:  100%;
        height: 100%;
    }

    .info-film-tab {
        border:    1px solid white;
        max-width: 100%;
        margin:    20px 60px;

        &.active {
            border: 1px solid #D9C279;
        }
    }

    .info-table .text {
        margin: 5px 30px
    }

    .info-content {
        font-family:    Actor, serif;
        font-size:      max(2.7vw, 16px);
        color:          white;
        line-height:    max(3.2vw, 19.25px);
        margin:         35px;
        padding-right:  0;
        letter-spacing: 1px;
        height:         inherit;
    }

    .back-button-container {
        position: static;
    }

    .photo-container {
        justify-content: center;
        align-content:   center;
        padding-right:   0;
    }

    .info-actor {
        padding-right: 0;
        font-size:     max(2.7vw, 16px);
        line-height:   max(3.2vw, 19.25px);
    }

    #layout {
        height:           180px;
        margin-top:       0;
        background-image: url("src/assets/img/MainBackground.jpg");
    }

    #layout.bg-Main {
        background-image: url("src/assets/img/MainBackground.jpg");
    }

    #layout.bg-HP1 {
        background-image: url("src/assets/img/HP1.jpg");
    }

    #layout.bg-HP2 {
        background-image: url("src/assets/img/HP2.jpg");
    }

    #layout.bg-HP3 {
        background-image: url("src/assets/img/HP3.jpg");
    }

    #layout.bg-HP4 {
        background-image: url("src/assets/img/HP4.jpg");
    }

    #layout.bg-HP5 {
        background-image: url("src/assets/img/HP5.jpg");
    }

    #layout.bg-HP6 {
        background-image: url("src/assets/img/HP6.jpg");
    }

    #layout.bg-HP7Part1 {
        background-image: url("src/assets/img/HP7Part1.jpg");
    }

    #layout.bg-HP7Part2 {
        background-image: url("src/assets/img/HP7Part2.jpg");
    }

    .film-label {
        padding-top: 10px;
    }
}

//@media (max-height: 801px) and (min-width: 820px) {
//    .filmTabs {
//        max-height: 100px !important;
//    }
//
//    .filmLogo {
//        min-width: 120px !important;
//    }
//
//    .filmTabs .q-tab__label {
//        font-size:   8px;
//        line-height: 9.5px
//    }
//}
