// app global css in SCSS form
@font-face {
    font-family: "Metal Mania";
    src:         url("../assets/fonts/MetalMania-Regular.ttf");
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: "Actor";
    src:         url("../assets/fonts/Actor-Regular.ttf");
    font-weight: 400;
    font-style:  normal;
}

.layout-container {
    display:        flex;
    flex-direction: row;
    padding:        35px;
}

.layoutLogo {
    font-family: 'Metal Mania', serif;
    font-size:   36px;
    width:       max-content;
    color:       #D9C279;
}

.layoutLogo p {
    cursor: pointer;
    width:  max-content;
}

.layoutTabs {
    color:            #D9C279;
    border:           1px solid #D9C279;
    font-size:        16px;
    background-color: rgba(#1D1D1D, 0.6);
    font-family:      'Actor', serif;
}

.layoutTabs-active {
    box-shadow: 0.3em 0 .4em #D9C279;
}

.main-layout {
    background-image: url("src/assets/img/MainBackground.jpg");
    background-size:  cover;
    transition:       600ms;
}

footer {
    font-family:     'Actor', serif;
    color:           white;
    font-size:       12px;
    padding-right:   60px;
}

.underline {
    text-decoration: underline;
}

.q-tab > .q-tab__indicator {
    display: none
}

.q-page-container {
    height: 50vh;
    width:  50vw;
}

.page-container {
    display:         flex;
    justify-content: center;
    align-items:     center;
}

.footer {
    background-color: rgba(black, 0.75);
}

.filmTabs {
    max-height: 200px;

    &.active {
        box-shadow: 0.1px 0.1px 1px 1px #D9C279;
    }
}

.filmTabs:hover {
    box-shadow: 0.1px 0.1px 1px 1px #D9C279;
}

.filmTabs .q-tab__label {
    font-family:    'Actor', serif;
    color:          #D9C279;
    font-size:      16px;
    max-width:      200px;
    white-space:    pre-wrap;
    text-transform: none;
    line-height:    19.25px;
    max-height:     38px;
}

.filmLogo {
    min-width: 200px;
    width:     100%;
}

.info-container {
    display: block;
    height:  calc(100% - 150px);
}

.info-content {
    font-family:    Actor, serif;
    font-size:      22px;
    color:          white;
    line-height:    26.47px;
    margin:         35px;
    padding-right:  60px;
    letter-spacing: 1px;
}